<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="
            http://www.springframework.org/schema/beans
            http://www.springframework.org/schema/beans/spring-beans.xsd
            http://www.springframework.org/schema/aop
            http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!-- aop -->
    <aop:aspectj-autoproxy />

    <!-- 日志框架AOP -->
    <!-- 注意AOP配置的顺序，log放外面（前面） -->
    <bean id="logAop" class="com.wez.common.aop.LogAOP" />

    <aop:config>
        <aop:aspect id="logAspect" ref="logAop">
            <aop:pointcut id="systemLogPointcut" expression="@annotation(com.wez.common.annotations.SystemLog)" />
            <aop:pointcut id="auditLogPointcut" expression="@annotation(com.wez.common.annotations.AuditLog)" />
            <aop:around method="handlerLogMethod" pointcut-ref="systemLogPointcut" />
            <aop:around method="handlerLogMethod" pointcut-ref="auditLogPointcut" />
        </aop:aspect>
    </aop:config>

    <!-- 异常框架AOP -->
    <bean id="controllerAop" class="com.wez.common.aop.ControllerAOP" />

    <aop:config>
        <aop:aspect id="myAop" ref="controllerAop">
            <aop:pointcut id="target" expression="execution(public com.wez.common.entity.Result *(..))" />
            <!--
            <aop:before method="checkValidity" pointcut-ref="target" />
            <aop:after  method="addLog" pointcut-ref="target" />
             -->
            <aop:around method="handlerControllerMethod" pointcut-ref="target" />
        </aop:aspect>
    </aop:config>

</beans>